body {
  margin-left: 5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: darkgoldenrod;
}

.successMessage {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px

}

.errorMessage {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px
}